* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

header.admin_header .navbar {
  background-color: #313131;
}
header.admin_header .navbar .container .navbar-brand {
  color: #fff;
  font-size: 25px;
}
header.admin_header .navbar .container .navbar-brand i {
  margin-right: 5px;
}
header.admin_header .navbar .container .navbar-toggler {
  background: #fff;
}
header.admin_header .navbar .container .navbar-collapse {
  justify-content: flex-end;
}
header.admin_header .navbar .container .navbar-collapse .navbar-nav .nav-link {
  text-align: center;
  color: #fff;
  margin-left: 20px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
header.admin_header .navbar .container .navbar-collapse .navbar-nav .nav-link:hover {
  transform: scale(1.3);
}

footer.admin_footer {
  background: #242662;
  background: -webkit-linear-gradient(to left, #87315B, #242662);
  background: linear-gradient(to top, #87315B, #242662);
  color: #fff;
}
footer.admin_footer .footer_top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #fff;
}
footer.admin_footer .footer_top p {
  margin-bottom: 0;
}
footer.admin_footer .footer_top .footer_icon {
  margin-left: 30px;
}
footer.admin_footer .footer_top .footer_icon span {
  margin: 0 20px;
  cursor: pointer;
}
footer.admin_footer .footer_bottom {
  padding-top: 50px;
  padding-bottom: 20px;
}
footer.admin_footer .footer_bottom .container .row .footer_item {
  padding: 0;
  padding-right: 20px;
}
footer.admin_footer .footer_bottom .container .row .footer_item h5 {
  margin-bottom: 20px;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(2) {
  padding-left: 40px;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(2), footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(3) {
  padding-right: 50px;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(2) ul, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(3) ul, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) ul {
  list-style: none;
  padding: 0;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(2) ul a, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(3) ul a, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) ul a {
  text-decoration: underline;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(2) ul a li, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(3) ul a li, footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) ul a li {
  margin-bottom: 16px;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) {
  padding-right: 0;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) ul li {
  margin-bottom: 16px;
}
footer.admin_footer .footer_bottom .container .row .footer_item:nth-child(4) ul li i {
  margin-right: 20px;
}
footer.admin_footer .footer_bottom .container p.text_bottom {
  text-align: center;
  padding-top: 50px;
}
footer.admin_footer .footer_bottom .container p.text_bottom a {
  color: #fff;
}

.modalPhone .modal-content {
  background-color: #fff;
  border-radius: 0;
}
.modalPhone .modal-content .modal-header .modal-title {
  margin: 0 auto;
  font-size: 30px;
}
.modalPhone .modal-content .modal-body form {
  background: #ffdde1;
  padding: 16px;
  border-radius: 5px;
  height: auto;
}
.modalPhone .modal-content .modal-body form .form-group {
  padding-bottom: 10px;
}
.modalPhone .modal-content .modal-body form .form-group .input-group .input-group-prepend {
  padding: 15px;
  background: #ee9ca7;
}
.modalPhone .modal-content .modal-body form .form-group .input-group .input-group-prepend .input-group-text {
  border: none;
  padding: 0;
  background: none;
}
.modalPhone .modal-content .modal-body form .form-group .sp-thongbao {
  color: red;
}

.shoppingCart .offcanvas-body .cart_table #listCart tr td:nth-child(4) span {
  cursor: pointer;
}
.shoppingCart .offcanvas-body .cart_table #listCart tr td:nth-child(4) span:nth-child(2) {
  margin: 0 10px;
}
.shoppingCart .offcanvas-body .cart_table #listCart tr td:nth-child(6) {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.shoppingCart .offcanvas-body .cart_table #listCart tr td:nth-child(6):hover {
  color: #BE3144;
}
.shoppingCart .offcanvas-footer {
  margin: 0;
  text-align: center;
}
.shoppingCart .offcanvas-footer .col-6 {
  padding: 20px 0;
}
.shoppingCart .offcanvas-footer .col-6 h4 {
  color: #fff;
  margin: 0;
}
.shoppingCart .offcanvas-footer .col-6:nth-child(2) {
  cursor: pointer;
}

.homepage {
  background-image: url(../assets/img/bg.jpeg);
  background-size: cover;
  background-position: center bottom;
}
.homepage .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homepage .container a {
  text-decoration: none;
}
.homepage .container a .item .item_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background: rgb(211, 215, 216);
  border-radius: 75px;
  margin: auto 150px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.homepage .container a .item .item_pic img {
  width: 100%;
}
.homepage .container a .item h1 {
  color: rgb(204, 204, 204);
  text-align: center;
  margin-top: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.homepage .container a .item:hover .item_pic {
  border: 5px solid #f3ce5e;
  transform: scale(0.9);
}
.homepage .container a .item:hover h1 {
  color: #f3ce5e;
  transform: scale(0.7);
}

section.phone_mgmt {
  margin: 100px auto;
}
section.phone_mgmt .phone_header {
  padding: 20px 16px;
  background-color: #60679B;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-radius: 20px 20px 0 0;
}
section.phone_mgmt .phone_header .btn_groups {
  display: flex;
  align-items: center;
}
section.phone_mgmt .phone_header .btn_groups .search {
  margin-right: 15px;
}
section.phone_mgmt .phone_header .btn_groups .search .btnSearch {
  color: #fff;
  border-radius: 5px;
}
section.phone_mgmt .phone_header .btn_groups .search .btnSearch i {
  margin: 0;
}
section.phone_mgmt .phone_header .btn_groups .filter {
  margin-right: 15px;
}
section.phone_mgmt .phone_header .btn_groups .filter .dropdown-menu .dropdown-item:active {
  background-color: #176B87;
  color: #fff;
}
section.phone_mgmt .phone_header .btn_groups .btnAdd .btn_add {
  width: 130px;
}
section.phone_mgmt .phone_header .btn_groups .btnAdd .btn_add:active {
  background-color: #176B87;
}
section.phone_mgmt .phone_header button {
  background-color: #176B87;
  border: 1px solid #176B87;
}
section.phone_mgmt .phone_header button i {
  margin-right: 5px;
}
section.phone_mgmt .phone_table .table thead, section.phone_mgmt .phone_table .table tr, section.phone_mgmt .phone_table .table th {
  color: #313131;
  font-weight: bolder;
}
section.phone_mgmt .phone_table .table thead tr th:nth-child(6) {
  width: 170px;
}
section.phone_mgmt .phone_table .table #tblDanhSachSP tr, section.phone_mgmt .phone_table .table #tblDanhSachSP td {
  font-weight: lighter;
}

.middle-1 #listSP .card-item .card .card-header {
  text-align: center;
  background: #FFFFFF;
}