section.cart {
    .container {
        .cart_content {
            .cart-shopping {
                .cart_left {
                    .cart_table {
                        .table {
                            thead {
                                background-color: $purple-4;
                                
                            }

                            tbody {
                                tr {
                                    td {
                                        &:nth-child(4) {
                                            .btn_quantity {
                                                width: auto;
                                                // border: 1px solid;
                                                display: inline-flex;
                                                flex-wrap: nowrap;

                                                span {
                                                    width: 30px;
                                                    height: 30px;
                                                    font-size: 12px;
                                                    border: 1px solid $black-3;
                                                    cursor: pointer;
                                                    position: relative;

                                                    i {
                                                        position: absolute;
                                                        top: 10px;
                                                        left: 10px;
                                                    }
                                                }

                                                input {
                                                    width: 40px;
                                                    text-align: center;
                                                    border: none;
                                                    border-top: 1px solid $black-3;
                                                    border-bottom: 1px solid $black-3;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
