// Numbers
$num-3: 3px;
$num-5: 5px; 
$num-10: 10px; 
$num-15: 15px;
$num-16: 16px;
$num-20: 20px; 
$num-30: 30px; 
$num-50: 50px; 
$num-75: 75px; 
$num-100: 100px;
$num-150: 150px; 
$num-200: 200px;
$num-250: 250px;

// Colors
$white-1: rgb(211, 215, 216);
$white-2: rgb(204, 204, 204); 
$white-3: #fff;

$black-1: rgba(0, 0,0,0.1); 
$black-2: #313131; 
$black-3: rgb(200, 200, 200); 

$blue-1: #0a58ca;
$blue-2: #242662;
$blue-3: #176B87;

$purple-1: #562B5E; 
$purple-2: #87315B;
$purple-3: #60679B; 
$purple-4: #d2c9ff;

$yellow-1: #f3ce5e;

$red-1: #BE3144;

$pink-1: #fda8cf;
$pink-2: #ffdde1;
$pink-3: #ee9ca7; 

